<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 
  <title>About Us</title>
</head>
<body>
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
  <main>
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>The team that brought you the best file conversion site known to man.</p>
    </div>
    
    <h2 class="ourTeam"style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/img/codyprofilepicture.jpeg" alt="Cody" style="width: 475px;">
          <div class="container">
            <h2 class="name">Cody Carpenter</h2>
            <p class="title">Developer</p>
            <p class="linkedIn">https://www.linkedin.com/in/callmecody/</p>
            <p class="gitHub">https://github.com/CallMeCody</p>
            <p class="bio">Software developer out of the Seattle area worked in IT in the Army for 8 years. 
              Decideed to make a career change to software development after exploring a hobby of making mods for video games.</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/img/20201021_142429.jpg" alt="Christian" style="width: 210px;">
          <div class="container">
            <h2 class="name">Christian Robles</h2>
            <p class="title">Developer</p>
            <p class="linkedIn">https://www.linkedin.com/in/cristian-robles/</p>
            <p class="gitHub">https://github.com/PotatoGod123</p>
            <p class="bio">Currently a student at Code Fellows studying Software Engineering and Development, 
              with known languages of Java, JavaScript, SQL, CSS and HTML. With being greatly adept in Java and JavaScript. 
              At the moment I’m trying to become better with my skills while honing my craft as I go forward with my career. 
              So that I become a strong, efficient, and great Developer.</p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/img/IMG_3756.jpeg" alt="Matthew" style="width: 253px;">
          <div class="container">
            <h2 class="name">Maththew Santorsola</h2>
            <p class="title">Developer</p>
            <p class="linkedIn">www.linkedin.com/in/matthew-santorsola</p>
            <p class="gitHub">https://github.com/santorsm</p>
            <p class="bio">With a background in military aviation, financial services, and e-commerce, 
              Matt joined Code Fellows to tie together his diverse skillset and experiences. He’s a graduate of the United States Air Force Academy and holds an MBA from The Wharton School, University of Pennsylvania.</p>
          </div>
        </div>
      </div>
    </div> 
  </main>
  <footer>
    <%- include('../layout/footer.ejs') %>
  </footer>

</body>
</html>