<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 
  <title>Document</title>
</head>
<body style="background-image: url('https://picsum.photos/1850');">
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
  <main>
    
    <h1>Hello World</h1>
    
  </main>
  <footer>
    <%- include('../layout/footer.ejs') %>
  </footer>

</body>
</html>