<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 
  <title>Home</title>
</head>
<body style="background-image: url('https://picsum.photos/2000');">
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
  <main>
    
    <h1 class="welcomeMessage">
      Welcome to the #1 File Converter!
    </h1>
    
  </main>

  <canvas id="resultsChart" width="400" height="400"></canvas>

  <div id="chartContainer">

  </div>
  
  <footer>
    <%- include('../layout/footer.ejs') %>
  </footer>
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="/scripts/app.js"></script>

</html>