<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 
  <title>Save file</title>
</head>
<body>
  <header>
    <%- include('../layout/header.ejs') %>
  </header>
  <main>
    
    <h1>Hello Save File</h1>
    
  </main>
  <footer>
    <%- include('../layout/footer.ejs') %>
  </footer>

</body>
</html>