.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

#resultsChart {
  background-color: black;
  position: relative; top: 483px;
  max-height: 500px;
}