<!-- <div class='ourheader'>

  <nav>
    <a href="/">Home</a>
    <a href="/form">Form</a>
    <a href="/aboutus">About Us</a>
  </nav>

</div> -->
<div class="topbar">
  <div class="topbar-container">
    <nav class="topbar-nav">
      <ul class="topbar-links">
        <li class="nav-item">
          <a href="/" >Home
          </a>
        </li>
        <li>
          <a href="/aboutus" >About Us
          </a> 
        </li>
        <li>
          <a href="/form" >Form
          </a> 
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="sticky-wrapper" style="min-height:70px;">
  <div class="header-main sticky-header">
    <div class="container">
      <div class="header-wrapper">
        <div class="logo">
          <img src="https://www.onlyfoods.net/wp-content/uploads/2020/04/Russet-Potato.jpg" alt="Russet" width="100" height="70">
          <a href=""></a>
        </div>
        <div class="mobile-tools">
          <img src="https://cdn.pixabay.com/photo/2016/06/10/16/43/potatoes-1448420_960_720.jpg" alt="Russet" width="100" height="70">
        </div>
      </div>
    </div>
  </div>
</div>